:root {
    --main-border-color:#eeeeee;
    --main-color:#029ACF;
    --main-busy-event-color:rgba(60, 71, 83, 0.32);
    --input-border-color: rgb(187, 187, 187);
  }

  html,
  body {
    height: 100%;
    background-color: aliceblue;
    font-family: 'Work Sans', sans-serif;
  }

  a {
    color: var(--main-color);
  }

  .header-area {
    grid-area: header-area;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--main-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-area-logo-color {
    color: var(--main-color);
    font-size: 1.5em;
  }

  .header-area-logo {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Keania One', cursive;
  }

  .header-area-logo-text {
    font-size: 0.7rem;
    color: #d9831f;
  }

  .header-area-meet {
    margin-right: 15px;
    font-size: 0.8rem;
  }

  .header-area-faq {
    font-size: 0.8rem;
  }

  .header-area-contact {
    margin-right: 15px;
    font-size: 0.8rem;
  }
  

  .description-area {
    grid-area: description-area;
  }

  .calendar-area {
    grid-area: calendar-area;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "calendar-box-area tool-box-area";

  }

  .calendar-box-area {
    grid-area: calendar-box-area;
  }

  .tool-box-area {
    grid-area: tool-box-area;
  }

  .footer-area {
    grid-area: footer-area;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: var(--main-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Fix for the case when body height is the height of
     viewport, but the actual browser window including scrollbars.
     When the div height is 100%, and the browser window height is 
     decreased, the vertical scrollbars are displayed and when you scroll to
     the bottom the div height remain unchanged, but the actual content height is changed.
   */
  .main-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "container";
  }

  .container {
    background-color: white;
    grid-area: container;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 3fr 20fr 1fr;
    grid-template-areas: "header-area" "description-area" "calendar-area" "footer-area";
  }

  .text-editor {
    height: 100px;
    overflow-y: scroll;
  }

  .text-view {
    height: 150px;
    overflow-y: scroll;
  }

  .description-text {
    background-color: rgba(255, 255, 255, 0) !important;
    text-align: center;
    /* font-family: 'Work Sans', sans-serif; */
    border: none;
    height: auto;
  }

  .form-control:focus {
    border-color: var(--main-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--main-color);
  }

  .input-description {
    width: 63px;
    background-color: rgba(233, 236, 239, 0.41);
  }

  .input-colors {
    background-color: white !important;
  }

  .tool-box-area .card {
    border: none;
    /* font-family: 'Work Sans', sans-serif; */
  }

  .fc-event{
    cursor: pointer;
  }

  #description-title {
    font-size: 2rem;
  }

  #description-subtitle {
    font-size: 0.9rem;
  }

  #toolbox-comments {
    /* font-family: 'Work Sans', sans-serif; */
    resize: none;
  }

  #how-it-works {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(217, 131, 31, 0.25);
  }
  